<div>
<h2>User info: </h2>
</div>
<div class="italic">
  You are unique among {{ list['info']['count_active'] }} users
</div>
<div class="italic">
  You have been registered {{ list['info']['position_of_registration'] }}
</div>
<div>
  <h3>Content for you: </h3>
</div>
<div>
  {{ list['info']['random_noda'] }}
</div>
